.container{
    /*margin: 0 auto;*/
    width: 1200px;
}

.block_container{

    width: 100%;
    height: 600px;
    background-color: bisque;

    position: relative;


}

.block {
    width: 600px;
    height: 400px;

    background-color: chocolate;
    text-align: center;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);


}